@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #f8f8f8;
    font-family: "Roboto", sans-serif;
}

.logo img{
    align-items: center;
    width: 32px;
}

header{
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    background: white;
    display: flex;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li:hover{
    color: #318CE7;
}

.iniciarsesion:hover{
    background: white;
    color: #318CE7;
}

h2{
    color: #318CE7;
}


nav li{
    padding: 4px 8px;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.clima-default{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: 40px 0px;
}

.titulo{
    color: #318CE7;
    font-weight: bold;
}

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;


    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li{
        cursor: pointer;
    }

    li:hover{
        color: #318CE7;
    }
}

.card-container{
    background: rgb(230, 230, 230);
    min-width: 220px;
    max-width: 240px;
    border-radius: 24px;
    padding: 10px;

    h2{
        font-size: 16px;
    }

}

.info_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.hero_text{
    position: absolute;
    z-index: 10;
    font-size: 30px;
    color: white;
    text-align: center;
}


.iniciarsesion{
    border: none;
    background: #318CE7;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.hero_container{
    min-width: 320px;
    max-width: 2600px;
    width: 100vw;
    margin: 0 auto;
}

.hero_container img{
    width: 100%;

    filter: brightness(40%);
}

@keyframes moverArribaAbajo {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* Ajusta la distancia que se mueve */
    }
    100% {
        transform: translateY(0);
    }
}


svg{
    animation: moverArribaAbajo 2s infinite;
}




@media (max-width: 700px) {
   .clima-default{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

   .hero_text{
    font-size: 24px;
   }

   footer{
    flex-direction: column;
   }
}


@media (max-width: 400px) {
    .hero_text{
        font-size:14px;
       }
}

